.popup_type_error {
  background: rgb(255, 255, 255, 0.7);
  border-bottom: 2px #fff solid;
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.error__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  width: fit-content;
  color: #111;
}

.error__see-more {
  color: #333;
  text-decoration: underline;
}

.error__see-more:hover {
  cursor: pointer;
}

.error__message_visible {
  display: inline-block
}

.error__message_hidden {
  display: none;
}

.error__close-button {
  transform: rotate(45deg);
  position: absolute;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  background: url(../components/ErrorPopup/ErrorPopupImages/close-button.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.error__close-button:hover {
  cursor: pointer;
}