.header {
	margin: 0;
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	padding: 45px 0 28px;
	display: flex;
	justify-content: space-between;
}

.header__session-toolbar {
	display: flex;
	justify-content: space-between;
	gap: 22px;
}

.header__button_logout {
	background: none;
	border: none;
	color: #a9a9a9;
	height: 22px;
	width: 90px;
	padding: 0;
	line-height: 22px;
	font-size: 18px;
}

.header__button_logout:hover {
	cursor: pointer;
}

.header__link_auth {
	color: #a9a9a9;
	height: 22px;
	width: 65px;
	padding: 0;
	text-wrap: nowrap;
	line-height: 22px;
	font-size: 18px;
	text-decoration: none;
	order: 2;
}

.header__user-email {
	padding: 0;
	margin: 0;
	height: 22px;
	color: #f3f3f3;
	text-align: right;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
}

.header__burger-menu {
	display: none;
	min-height: 24px;
	min-width: 24px;
	transition: all 0.2s ease-in-out;
	background: url('../components/Header/header-images/burger-menu.svg');
	border: none;
	background-size: contain;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.header__burger-menu:hover {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.header {
		padding: 45px 27px 27px;
	}
}

@media screen and (max-width: 650px) {
	.header_small-screen_home {
		padding-top: 28px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			'toolbar toolbar'
			'logo menu';
	}

	.header__logo {
		width: 126px;
		height: 24px;
		grid-area: logo;
	}

	.header__burger-menu {
		display: none;
		grid-row: 2;
		grid-area: menu;
		justify-self: end;
	}

	.header__burger-menu_visible {
		display: block;
	}

	.header__session-toolbar_burger-menu {
		display: none;
		padding: 12px 0 40px;
		grid-row: 1;
		grid-area: toolbar;
		flex-direction: column;
		align-items: center;
	}

	.header__session-toolbar_burger-menu_visible {
		display: flex;
	}
}
