.page {
  max-width: 880px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 19px 60px;
  background: #000;
  font-family: 'Inter', arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px 0 60px;
  }
}
