.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-width: 320px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.popup_visible {
  visibility: visible;
  opacity: 1;
}

.popup__window {
  position: relative;
  box-sizing: border-box;
  margin: 0 19px;
  padding: 34px 36px;
  background: #fff;
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.popup__close-button {
  transform: rotate(45deg);
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity 0.2s ease-out;
  width: 40px;
  height: 40px;
  border: none;
  background: url("../components/Popup/Popup__images/close-button.svg");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__title {
  margin: 0 0 54px;
  padding: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
}

.popup__window_type_log-in-error {
  width: 430px;
  height: 330px;
}

.popup__auth-image {
  width: 120px;
  height: 120px;
  margin: 26px auto 32px;
}

.popup__auth-message {
  color: #000;
  width: 358px;
  text-align: center;
  margin: 0 auto 0;
  font-size: 24px;
  font-family: Inter;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .popup__form {
    padding: 25px 22px;
  }

  .popup__close-button {
    width: 26px;
    height: 26px;
    right: 0;
    top: -39px;
    font-size: 18px;
    line-height: 22px;
  }

  .popup__title {
    margin-bottom: 76px;
    font-size: 18px;
    line-height: 22px;
  }
}
