.profile {
  margin: 40px 0 50px;
  display: flex;
  width: 100%;
  align-items: center;
}

.profile__avatar-container {
  overflow: hidden;
  position: relative;
  margin: 0 30px 0 0;
  min-width: 120px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__avatar-container::before {
  cursor: pointer;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 100px;
  height: 100%;
  z-index: 5;
  transition: background-color 0.4s ease-out;
}

.profile__avatar-container:hover::before {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../components/ProfileInfo/Profile__images/edit-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.profile__avatar {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
}
/* 
.profile__avatar:hover {
  width: 100%;
  height: 100%
} */

.profile__details {
  margin-right: 30px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  overflow: hidden;
}

.profile__name-container {
  display: flex;
  align-items: flex-end;
  margin: 0 0 16px;
  max-width: 100%;
}

.profile__name {
  margin: 0 18px 0 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  min-height: 24px;
  min-width: 24px;
  margin-bottom: 8px;
  transition: all 0.2s ease-in-out;
  background: url('../components/ProfileInfo/Profile__images/edit-button.svg');
  border: none;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  display: flex;
  min-height: 50px;
  min-width: 150px;
  margin-left: auto;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
  background-size: contain;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-plus-sign {
  height: 22px;
  width: 22px;
  margin: auto;
}

.profile__about {
  width: fit-content;
  margin: 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 42px 0 36px;
    flex-direction: column;
    justify-content: flex-end;
  }

  .profile__avatar {
    margin: 0 0 30px;
  }

  .profile__details {
    align-items: center;
    /* bottom marign is 36px - 3px since brief doesn't account for
    profile__caption line height */
    margin: 0 0 33px;
    max-width: 90%;
  }

  .profile__name-container {
    /* bottom marign is 14px - 5px since brief doesn't account for
    line height. The height of profile block is now 286 and 
    conforms to the brief. */
    margin: 0 0 9px;
  }

  .profile__add-button {
    margin: 0 auto;
    width: 584px;
  }

  .profile__add-plus-sign {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 650px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
    margin-bottom: 3px;
  }

  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add-button {
    width: 100%;
  }
}
